button {
	color: #fff;
	border: none;
	margin: 1rem 0.5rem;
	cursor: pointer;
	background-color: #546de5;
	width: 5.5rem;
	height: 2rem;
	font-weight: bold;
	padding: 0.1rem;
	font-size: 0.8rem;
}

button:disabled {
	cursor: not-allowed;
	background-color: #6a89cc;
	color: #bdc3c7;
}
