input {
	border: 1px solid lightgrey;
	text-align: center;
	margin: 0;
}

input[type='number']:disabled {
	background-color: #a29bfe;
	font-weight: bold;
}

.wrongValue {
	background-color: #e17055;
	color: #fff;
}

.correctValue {
	background-color: #78e08f;
	color: #fff;
}
